* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  background-color: white;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left-container {
  width: 66%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right-container {
  width: 34%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 35px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 25px;
  margin-bottom: 10px;
}

input {
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 204, 255);
  border-radius: 10px;
}

select {
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 204, 255);
}

button {
  height: 50px;
  color: white;
  background-color: rgb(21, 100, 190);
  border-radius: 10px;
}
