* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-container {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
}

.left-section {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 66%;
  flex-direction: column;
  padding-right: 25px;
  padding-left: 25px;
}

.right-section {
  display: flex;
  width: 34%;

  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(36, 177, 219);
}

.subtitle {
  font-size: 25px;
  margin-bottom: 10px;
  color: orange;
}

input {
  height: 30px;
  border: 2px solid rgb(36, 177, 219);
  border-radius: 5px;
}

button {
  background-color: orange;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 7px;
  width: 300px;
  margin: 0 auto;
}
select {
  height: 30px;
  border: 2px solid rgb(36, 177, 219);
  border-radius: 5px;
}
